.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


/* Add these styles to your CSS file or component */
.loader {
  display: inline-block;
  border: 6px solid orangered;
  border-radius: 30%;
  border-top: 6px solid #3498db;
  border-bottom: 6px solid #3498db;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin-left: 10px; /* Adjust as needed */
}

.error {
  color: red;
  font-weight: bold;
  margin-top: 10px; /* Adjust as needed */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



/* Add this styling to your CSS file */
.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #fff;
}

.input-container {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input-field {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.file-field {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.elixir-logo {
  margin-top: 20px;
  width: 130px; /* or any size you prefer */
}

.generate-button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: orangered;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.output-container {
  margin-top: 20px;
}

.output-header {
  color: #505251;
  font-family:"inter";
  font-style: "italic";
}

.output-prompt {
  font-size: 16px;
  line-height: 1.5;
  color: #505251;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
